.DS_Store

.idea/
out/

*.class
*.log
**classes
**bin
**target
**test-output
**overlays

# Eclipse project structure files
**.project
**.classpath
**.settings
**.springBeans


#IntelliJ project structure files
**intellij
**intellij-win
**workspace.xml
**compiler.xml
**encodings.xml
**modules.xml

# JTA Files #
*.epoch
tmlog*.log
tmlog.lck

# IntelliJ project files
.idea
*.iml

# Package Files #
*.jar
*.war
*.ear

# TMP SQL files #
.drop_all.sql
